src/flows.json
[
    {
        "id": "354fb4ce32168e1d",
        "type": "tab",
        "label": "Hlavni program",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4fde48ff34405839",
        "type": "http in",
        "z": "354fb4ce32168e1d",
        "name": "",
        "url": "/post",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 760,
        "wires": [
            [
                "95cb07582eb37cf4",
                "85e1d9693e54c2cb"
            ]
        ]
    },
    {
        "id": "95cb07582eb37cf4",
        "type": "switch",
        "z": "354fb4ce32168e1d",
        "name": "",
        "property": "payload.command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "a",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "b",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "c",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "S",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "F",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "B",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "R",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "X",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "x",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 11,
        "x": 270,
        "y": 760,
        "wires": [
            [
                "5f65cdc23a8028af",
                "23c97afc8ffa64b1"
            ],
            [
                "ebb68c3673c2c605",
                "23c97afc8ffa64b1"
            ],
            [
                "11a08733845f4710",
                "23c97afc8ffa64b1"
            ],
            [
                "946b38a2d15b5e08",
                "23c97afc8ffa64b1"
            ],
            [
                "23c97afc8ffa64b1",
                "ad382198b44825a8"
            ],
            [
                "23c97afc8ffa64b1"
            ],
            [
                "23c97afc8ffa64b1"
            ],
            [
                "23c97afc8ffa64b1"
            ],
            [
                "ab634f41acf91163",
                "23c97afc8ffa64b1"
            ],
            [
                "112ba7a9c5058a74",
                "23c97afc8ffa64b1"
            ],
            [
                "05f6d854d71daaba"
            ]
        ]
    },
    {
        "id": "beca4d4d7df8928e",
        "type": "ads1115",
        "z": "354fb4ce32168e1d",
        "name": "battery voltage",
        "devadr": "0",
        "mux": "4",
        "rate": "4",
        "gain": "1",
        "tupdate": 1000,
        "onchange": true,
        "rawdata": false,
        "x": 240,
        "y": 1380,
        "wires": [
            [
                "3c9c356b60cd7db6"
            ]
        ]
    },
    {
        "id": "3d6f5bc1fc0a6a47",
        "type": "pca9685-pwm",
        "z": "354fb4ce32168e1d",
        "name": "",
        "devadr": "0",
        "channel": "11",
        "freq": "500",
        "duty": "0",
        "opendrain": false,
        "x": 950,
        "y": 140,
        "wires": []
    },
    {
        "id": "85e1d9693e54c2cb",
        "type": "debug",
        "z": "354fb4ce32168e1d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 240,
        "wires": []
    },
    {
        "id": "5f65cdc23a8028af",
        "type": "function",
        "z": "354fb4ce32168e1d",
        "name": "function 1",
        "func": "var intensity = { payload: 0 };\nreturn intensity;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 100,
        "wires": [
            [
                "3d6f5bc1fc0a6a47"
            ]
        ]
    },
    {
        "id": "ebb68c3673c2c605",
        "type": "function",
        "z": "354fb4ce32168e1d",
        "name": "function 2",
        "func": "var intensity = { payload: 5 };\nreturn intensity;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 140,
        "wires": [
            [
                "3d6f5bc1fc0a6a47"
            ]
        ]
    },
    {
        "id": "11a08733845f4710",
        "type": "function",
        "z": "354fb4ce32168e1d",
        "name": "function 3",
        "func": "var intensity = { payload: 100 };\nreturn intensity;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 180,
        "wires": [
            [
                "3d6f5bc1fc0a6a47"
            ]
        ]
    },
    {
        "id": "cb9e6c1d9f28fd1e",
        "type": "comment",
        "z": "354fb4ce32168e1d",
        "name": "front lights control",
        "info": "",
        "x": 800,
        "y": 60,
        "wires": []
    },
    {
        "id": "cf13f55d7a89d218",
        "type": "comment",
        "z": "354fb4ce32168e1d",
        "name": "motor control",
        "info": "",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "80cb039636553213",
        "type": "pca9685-pwm",
        "z": "354fb4ce32168e1d",
        "name": "",
        "devadr": "0",
        "channel": "0",
        "freq": "500",
        "duty": "0",
        "opendrain": true,
        "x": 1200,
        "y": 460,
        "wires": []
    },
    {
        "id": "c0c47021eb041dd0",
        "type": "pca9685-pwm",
        "z": "354fb4ce32168e1d",
        "name": "",
        "devadr": "0",
        "channel": "1",
        "freq": "500",
        "duty": "0",
        "opendrain": true,
        "x": 1200,
        "y": 520,
        "wires": []
    },
    {
        "id": "6aa27244714d44c8",
        "type": "comment",
        "z": "354fb4ce32168e1d",
        "name": "front left",
        "info": "",
        "x": 1180,
        "y": 740,
        "wires": []
    },
    {
        "id": "9405d45e88728ae5",
        "type": "comment",
        "z": "354fb4ce32168e1d",
        "name": "front right",
        "info": "",
        "x": 1180,
        "y": 580,
        "wires": []
    },
    {
        "id": "946b38a2d15b5e08",
        "type": "function",
        "z": "354fb4ce32168e1d",
        "name": "stop",
        "func": "var out = {\n    BL_A: 0,\n    BL_B: 0,\n    BR_A: 0,\n    BR_B: 0,\n    FR_A: 0,\n    FR_B: 0,\n    FL_A: 0,\n    FL_B: 0, };\n\nreturn {payload: out};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 520,
        "wires": [
            [
                "4dd828a7ae3d949d"
            ]
        ]
    },
    {
        "id": "ab634f41acf91163",
        "type": "exec",
        "z": "354fb4ce32168e1d",
        "command": "sudo -u pi python3 /home/pi/webcamera.py &",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "start webcam",
        "x": 570,
        "y": 1220,
        "wires": [
            [
                "c0a25edace475a0d"
            ],
            [
                "c0a25edace475a0d"
            ],
            [
                "c0a25edace475a0d"
            ]
        ]
    },
    {
        "id": "112ba7a9c5058a74",
        "type": "exec",
        "z": "354fb4ce32168e1d",
        "command": "pkill -15 -f \"webcamera.py\"",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "stop webcam",
        "x": 570,
        "y": 1280,
        "wires": [
            [
                "c0a25edace475a0d"
            ],
            [
                "c0a25edace475a0d"
            ],
            [
                "c0a25edace475a0d"
            ]
        ]
    },
    {
        "id": "23c97afc8ffa64b1",
        "type": "http response",
        "z": "354fb4ce32168e1d",
        "name": "response 200",
        "statusCode": "200",
        "headers": {},
        "x": 680,
        "y": 280,
        "wires": []
    },
    {
        "id": "c0a25edace475a0d",
        "type": "debug",
        "z": "354fb4ce32168e1d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 1240,
        "wires": []
    },
    {
        "id": "6fa0552fe7932c35",
        "type": "file",
        "z": "354fb4ce32168e1d",
        "name": "",
        "filename": "/var/ramdrive/v.txt",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 690,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "3c9c356b60cd7db6",
        "type": "function",
        "z": "354fb4ce32168e1d",
        "name": "function 4",
        "func": "var voltage = { payload: msg.payload*5/1000 };\nreturn voltage;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1380,
        "wires": [
            [
                "6fa0552fe7932c35",
                "e9db2bc8aad62de5"
            ]
        ]
    },
    {
        "id": "e9db2bc8aad62de5",
        "type": "debug",
        "z": "354fb4ce32168e1d",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 1440,
        "wires": []
    },
    {
        "id": "02e7eb110643a0ab",
        "type": "http response",
        "z": "354fb4ce32168e1d",
        "name": "400",
        "statusCode": "400",
        "headers": {
            "content-type": "text/plain"
        },
        "x": 590,
        "y": 1020,
        "wires": []
    },
    {
        "id": "05f6d854d71daaba",
        "type": "function",
        "z": "354fb4ce32168e1d",
        "name": "function 5",
        "func": "var newMsg = { payload: \"Status 400; Unknown command!\\n\" };\n\nnewMsg.user = msg.req.body[\"user\"];\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nreturn newMsg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1020,
        "wires": [
            [
                "02e7eb110643a0ab"
            ]
        ]
    },
    {
        "id": "4a7b2bf82b5c0d4d",
        "type": "rpi-gpio in",
        "z": "354fb4ce32168e1d",
        "name": "",
        "pin": "26",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 170,
        "y": 1580,
        "wires": [
            [
                "9dec4ea28974dc35",
                "1b476615892fa9f5"
            ]
        ]
    },
    {
        "id": "1b476615892fa9f5",
        "type": "exec",
        "z": "354fb4ce32168e1d",
        "command": "sudo shutdown -h now",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 400,
        "y": 1580,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "9dec4ea28974dc35",
        "type": "debug",
        "z": "354fb4ce32168e1d",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 1680,
        "wires": []
    },
    {
        "id": "5820c910810bda2e",
        "type": "comment",
        "z": "354fb4ce32168e1d",
        "name": "back left",
        "info": "",
        "x": 1180,
        "y": 260,
        "wires": []
    },
    {
        "id": "2792ec33f3b764e0",
        "type": "comment",
        "z": "354fb4ce32168e1d",
        "name": " back right",
        "info": "",
        "x": 1180,
        "y": 420,
        "wires": []
    },
    {
        "id": "3cb970fc3e5dfa7a",
        "type": "pca9685-pwm",
        "z": "354fb4ce32168e1d",
        "name": "",
        "devadr": "0",
        "channel": "2",
        "freq": "500",
        "duty": "0",
        "opendrain": true,
        "x": 1200,
        "y": 300,
        "wires": []
    },
    {
        "id": "1ff6ef2bd936390a",
        "type": "pca9685-pwm",
        "z": "354fb4ce32168e1d",
        "name": "",
        "devadr": "0",
        "channel": "3",
        "freq": "500",
        "duty": "0",
        "opendrain": true,
        "x": 1200,
        "y": 360,
        "wires": []
    },
    {
        "id": "d9bae157b554334f",
        "type": "pca9685-pwm",
        "z": "354fb4ce32168e1d",
        "name": "",
        "devadr": "0",
        "channel": "4",
        "freq": "500",
        "duty": "0",
        "opendrain": true,
        "x": 1200,
        "y": 620,
        "wires": []
    },
    {
        "id": "b79e5983c6ee4ea2",
        "type": "pca9685-pwm",
        "z": "354fb4ce32168e1d",
        "name": "",
        "devadr": "0",
        "channel": "5",
        "freq": "500",
        "duty": "0",
        "opendrain": true,
        "x": 1200,
        "y": 680,
        "wires": []
    },
    {
        "id": "730edbfc795607eb",
        "type": "pca9685-pwm",
        "z": "354fb4ce32168e1d",
        "name": "",
        "devadr": "0",
        "channel": "6",
        "freq": "500",
        "duty": "0",
        "opendrain": true,
        "x": 1200,
        "y": 780,
        "wires": []
    },
    {
        "id": "7902595e463f74af",
        "type": "pca9685-pwm",
        "z": "354fb4ce32168e1d",
        "name": "",
        "devadr": "0",
        "channel": "7",
        "freq": "500",
        "duty": "0",
        "opendrain": true,
        "x": 1200,
        "y": 840,
        "wires": []
    },
    {
        "id": "ad382198b44825a8",
        "type": "function",
        "z": "354fb4ce32168e1d",
        "name": "forward",
        "func": "var out = {\n    BL_A: 0,\n    BL_B: Number.parseInt(msg.payload.speed),\n    BR_A: Number.parseInt(msg.payload.speed),\n    BR_B: 0,\n    FR_A: Number.parseInt(msg.payload.speed),\n    FR_B: 0,\n    FL_A: 0,\n    FL_B: Number.parseInt(msg.payload.speed), };\n\nreturn {payload: out};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 580,
        "wires": [
            [
                "4dd828a7ae3d949d"
            ]
        ]
    },
    {
        "id": "4dd828a7ae3d949d",
        "type": "function",
        "z": "354fb4ce32168e1d",
        "name": "split_signal",
        "func": "var out1 = { payload: msg.payload['BL_A'] };\nvar out2 = { payload: msg.payload['BL_B'] };\nvar out3 = { payload: msg.payload['BR_A'] };\nvar out4 = { payload: msg.payload['BR_B'] };\nvar out5 = { payload: msg.payload['FR_A'] };\nvar out6 = { payload: msg.payload['FR_B'] };\nvar out7 = { payload: msg.payload['FL_A'] };\nvar out8 = { payload: msg.payload['FL_B'] };\nreturn [out1, out2, out3, out4, out5, out6, out7, out8];",
        "outputs": 8,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 520,
        "wires": [
            [
                "a625d4a3123254d7",
                "3cb970fc3e5dfa7a"
            ],
            [
                "1ff6ef2bd936390a"
            ],
            [
                "80cb039636553213"
            ],
            [
                "c0c47021eb041dd0"
            ],
            [
                "d9bae157b554334f"
            ],
            [
                "b79e5983c6ee4ea2"
            ],
            [
                "730edbfc795607eb"
            ],
            [
                "7902595e463f74af"
            ]
        ]
    },
    {
        "id": "a625d4a3123254d7",
        "type": "debug",
        "z": "354fb4ce32168e1d",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 940,
        "wires": []
    }
]